POSTGRES_USER="postgres"
POSTGRES_PASSWORD=""
POSTGRES_SERVER=""
POSTGRES_PORT="5432"
POSTGRES_DB=""

MQTT_BROKER="tcp://emqx:1883"
MQTT_CLIENT_ID="mqtt-driver"
MQTT_USERNAME=""
MQTT_PASSWORD=""
TAG_GROUP_SIZE=5

MAKEFILE_DB_STRING="" 
MAKEFILE_DIR="internal/database/migrations"